body {
    font-family: sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

.radialbg{
    background: radial-gradient(#dfeec4, #2f9142);
    background-repeat: no-repeat;
    background-size: cover;
}

.linearbg{
    background: linear-gradient(180deg, #2f9142, #dfeec4);
    background-repeat: no-repeat;
    background-size: cover;
}

.userbg {
    background-color: #f4f9eb;
    background-image: url(../../resources/img/cityline.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 75%;
}

.contactbg {
    background: #2f9142;
}

.right {
    text-align: right!important;
}

.left {
    text-align: left!important;
}

.center {
    text-align: center!important;
}

.warning {
    color: #f26522;
}

.homerow1 {
    margin: 0 auto;
    width: 98%;
}

.homerow1 p {
    margin-top: 10px;
    padding: 1%;
}

.homerow2 {
    margin: 5% auto;
    width: 50%;
}

.homerow3 a {
    margin: 0 1%;
    padding: 0.8% 2%;
    color: #fff;
}

.homerow4 {
    margin: 7% 2% 1% 2%;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #fff;
}

.btnreg {
    background: #f7941d;
    border: none;
}

.btnreg:hover {
    background: #f26522;
    color: #fff;
}

.btnlearn {
    background: none;
    border: solid 1px #fff;
}

.btnlearn:hover {
    background: #fff;
    color: #f26522;
}

.btnfoot {
    border: solid 1px #fff;
    padding: 0.5%;
    border-radius: 30%;
    margin-right: 1%;
}

.btnfoot:hover {
    border: solid 1px #8bb836;
}

.btnAdd, .btnAdd:visited, .btnAdd:active, btnAdd:focus {
    width: 100%;
    background: #329a47!important;
    color: #fff!important;
    font-weight: bold!important;
    outline: none!important;
}

.btnAdd:hover {
    background: #95c639!important;
    outline: none!important;
}

.btnGo, .btGo:visited, .btnGo:active, btnGo:focus {
    background: #329a47!important;
    color: #fff!important;
    outline: none!important;
}

.btnGo:hover {
    background: #8bb836!important;
}

.btnDecline, .btnDecline:visited, .btnDecline:active, btnDecline:focus {
    background: #f26522!important;
    color: #fff!important;
    outline: none!important;
}

.btnDecline:hover {
    background: #ff8000!important;
}

.btnAdd:hover {
    background: #95c639!important;
    outline: none!important;
}

.btnDelete {
    background: none;
    border: none;
}

.btnDelete:focus, .btnDelete:active, .btnDelete:hover {
    background: none!important;
    border: none;
    outline: none!important;
}

.btnCancel, .btnCancel:focus, .btnCancel:active, .btnSend:focus, .btnSend:active, .btnSend:visited {
    outline: none!important;
    border: none!important;
}

.btnCancel {
    color: #2f9142;
    background: #fff;
}

.btnCancel:hover {
    color: #fff;
    background: #ff0000;
}

.btnReceipt {
    color: #2f9142;
    background: none;
    border: solid 1px #2f9142;
}

.btnReceipt:hover {
    color: #fff;
    background: #8bb836;
}

.btnReceipt:focus, .btnReceipt:active, .btnReceipt:visited {
    background: none!important;
    outline: none!important;
    color: #2f9142;
    border: solid 1px #2f9142;
}


.btnSend {
    outline: none!important;
    background: #8bb836;
    border: none!important;
}

.btnSend:hover {
    outline: none!important;
    background: #2f9142;
    border: none!important;
}

.btnreglogin {
    background: none;
    border: solid 1px #fff;
    color: #fff;
    margin-left: 1%;
    margin-right: 1%;
}

.btnreglogin:hover {
    background: #fff;
    color: #2f9142;
}

.btnlogin, .btnlogin:focus, .btnlogin:active, .btnlogin:visited {
    outline: none!important;
    width: 100%;
    background: rgba(255, 255, 255, 0.5)!important;
    padding: 2%;
    color: rgba(47, 145, 66, 0.7)!important;
    font-weight: bold;
}

.btnlogin:hover {
    color: #2f9142;
}

.btntab, .btntab:visited, .btntab:active, .btntab:focus {
    color: #2f9142!important;
    margin: 0 2%;
    text-decoration: none;
    outline: none!important;
    background: none!important;
    box-shadow: none;
}

.btntab:hover {
    color: #8bb836!important;
    text-decoration: none;
}

.btnpagi, .btnpagi:visited, .btnpagi:active, .btnpagi:focus {
    color: #2f9142!important;
    margin: 0 0.1%;
    text-decoration: none;
    outline: none!important;
    background: none!important;
    box-shadow: none!important;
}

.btnpagi:hover {
    color: #8bb836!important;
    text-decoration: none;
}

.btnfile, .btnfile:focus {
    color: #8bb836!important;
    font-weight: normal!important;
    outline: none!important;
    border: solid 1px #8bb836;
    background: none!important;
}

.btnfile:hover {
    color: #fff!important;
    outline: none!important;
    background: #8bb836!important;
}

.btnpayment, .btnpayment:focus, .btnpayment:active, .btnpayment:visited {
    background: rgba(139, 184, 54, 0.3);
    border-radius: 0;
    width: 100%;
    padding-top: 25%;
    padding-bottom: 25%;
    outline: none!important;
}

.btnpayment:hover {
    background: rgba(139, 184, 54, 0.6);
}

.btnpayment .glyphicon {
    color: #2f9142!important;
    font-size: 200%;
}

.btnpayment:hover .glyphicon {
    color: #fff!important;
}

.glyphicon {
    color: #fff;
    font-size: 150%;
}

.glyphicon:hover {
    color: #8bb836;
}

.glyphicon-user {
    margin-right: 1%;
    border-right: solid 1px #fff;
    padding-right: 1.5%;
}

.glyphicon-trash {
    color: #2f9142;
}

.glyphicon-trash:hover {
    color: #f26522!important;
}

.glyphicon-pencil, .glyphicon-edit, .glyphicon-eye-open, .glyphicon-print {
    color: #2f9142!important;
}

.glyphicon-pencil:hover, .glyphicon-edit:hover, .glyphicon-eye-open:hover, .glyphicon-print:hover {
    color: #8bb836!important;
}

.loginrow1 {
    color: #fff;
    font-weight: bolder;
    padding: 1% 1%;
}

.loginrow2 {
    margin: 5% auto;    
}

.regrow2 {
    margin: 2% auto;    
}

.aback {
    color: #fff;
    font-weight: normal;
}

.aback:hover {
    color: #8bb836;
    text-decoration: none;
}

.logincontainer {
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
    width: 25%;
}

.logincontainers {
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
    width: 80%;
}

.logincontainer a {
    color: rgba(255, 255, 255, 0.6);
}

.logincontainer a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.profilecontainer {
    color: #2f9142;
    margin: auto;
    width: 25%;
    background: #f4f9eb;
}

.profilecontainers {
    color: #2f9142;
    margin: auto;
    width: 80%;
}

.profilecontainer .formfield, .profilecontainers .formfield {
    color: #8bb836;
    border: none;
}

.profilecontainer .formfield:hover, .profilecontainers .formfield:hover {
    box-shadow: 1px 1px 1px #2f9142;
    border-radius: 2%;
}

.profilecontainer .formfield:focus, .profilecontainers .formfield:focus{
    border-bottom: solid 0.5px #2f9142;
}

.paymentcontainer {
    color: #2f9142;
    background: #f4f9eb;
    margin-top: 1%;
}

.pdetailscontainer {
    color: #8bb836;
    background: #f4f9eb;
    margin-top: 1%;
    margin-left: 1%;
    border: solid 2px #8bb836;
}

.btnpaymentcontainer > div {
    padding: 0 0.5%;
}

.payformcontainer {
    background: rgba(139, 184, 54, 0.3);
    margin-top: 1%;
}

.shipformcontainer {
    color: #2f9142;
    background: #f4f9eb;
    margin-top: 1%;
    background: rgba(139, 184, 54, 0.3);
    padding-top: 1%;
}

.shipformcontainer .formfield {
    border-bottom-color: #2f9142;
    color: #2f9142;
}

.shipformcontainer .formoptions {
    background: rgba(139, 184, 54, 0.3)!important;
    outline: none!important;
}

.shipformcontainer .formselects, .formselects:focus, .formselects:active {
    outline: none!important;
    width: 70%;
    background: none;
    height: 100%;
    border-bottom: solid 1px #2f9142!important;
    border: none;
    padding: 2% 2% 2% 1%;
    color: #2f9142!mportant;
    margin-bottom: 1%;
}

.formfield {
    width: 100%;
    border: none;
    border-bottom: solid 0.5px #fff;
    background: none;
    color: #fff;
    padding: 2%;
    margin-bottom: 1%;
}

.formfield:focus {
    outline: none;
}

.homerow {
    margin: 3% auto 0 auto;
}

.bigh1 {
    font-weight: bolder;
    color: #2f9142;
    font-size: 350%;
}

.smh1 {
    font-weight: bolder;
    color: #fff;
    text-shadow: 3px 3px 2px #2f9142;
    font-size: 200%;
}

.smh2 {
    font-size: 150%!important;
}

.smh3 {
    font-size: 120%!important;
}

.bigbar > div {
    width: 10%;
    margin-left: 1%;
}

.bigbar .useritem {
    width: 12%;
}

.bigbar .menuitem {
    margin: 0 auto;
    width: 74%;
}

.bigbar li {
    float: none;
    display:inline-block;
    vertical-align: middle;
    margin: 0 2%; 
}

.bigbar > ul > li > a {
    color: #8bb836!important;
    font-weight: bold;
}

.bigbar > ul > li > a:hover {
    color: #2f9142!important;
}

.bigbar {
    background: none!important;
    border-bottom: solid 2px #2f9142;
    margin-bottom: 0.5%;
}

.bigbar .navbar-right {
    margin-right: 2%;
}

.bigbar .glyphicon {
    color: #8bb836!important;
    font-size: 110%;
}

.bigbar .glyphicon:hover {
    color: #2f9142!important;
}

.bigbar .glyphicon-user {
    margin-right: 0!important;
    border-right: none!important;
    padding-right: 0!important;
}

#myNavbar {
    margin-left: 2%;
}

.navbar-toggle, .navbar-toggle:active, .navbar-toggle:visited, .navbar-toggle:focus {
    border-color: #8bb836!important;
    background: none!important;
}

.navbar-toggle:hover {
    background: #8bb836!important;
}

.navbar-toggle:hover .icon-bar {
    background: #fff!important;
}

.icon-bar {
    background: #8bb836!important;
}

.smbar .menuitem {
    margin: 0 auto;
}

.smbar > div > ul > li > a {
    color: #8bb836!important;
    font-weight: bold;
}

.smbar > div > ul > li > a:hover {
    color: #2f9142!important;
}

.smbar {
    background: none!important;
    border-bottom: solid 2px #2f9142;
    margin-bottom: 0.5%;
}

.smbar .navbar-brand {
    width: 80%;
}

.pagetitle {
    color: #2f9142!important;
}

.purchasetable {
    border-top: solid 1px #2f9142;
    border-bottom:  solid 1px #2f9142;
    width: 90%;
    margin: 0 auto;
}

.purchasetable th {
    text-align: center;
    color: #2f9142;
}

.purchasetable tr {
    border-top: solid 1px #2f9142;
    border-bottom:  solid 1px #2f9142;
}

.purchasetable td {
    text-align: center;
    color: #2f9142;
    height: 40px;
}

.purchasetable .bodyrow:hover {
        background: rgba(139, 184, 54, 0.2);
}

.modal-content {
    background: #f4f9eb;
}

.modal-content h5 {
    font-weight: bold;
    color:#2f9142;
}

.modal-body {
    width: 90%;
    margin: 2% auto 0 auto;
}

.modal-body label {
    color: #2f9142;
    margin-bottom: 0!important;
}

.modal-body .formfield, .updatecontainer .formfield {
    border-bottom: solid 1px #2f9142!important;
    color: #8bb836!important;
}

.modal-body .formfield::placeholder, .updatecontainer .formfield::placeholder {
    color: #8bb836!important;
}

.tblformfield {
    width: 80%;
    border: none;
    background: none;
    padding: 2%;
}

.tblformfield:focus {
    outline: none!important;
    background: rgba(139, 184, 54, 0.3);
}

.ratefield {
    width: 40%;
    border: none;
    background: rgba(139, 184, 54, 0.3);
    padding: 1% 2%;
}

.bankfield {
    width: 95%;
    border: none;
    background: rgba(139, 184, 54, 0.3);
    padding: 1% 2%;
}

.ratefield:focus, .bankfield:focus {
    outline: none!important;
}

.formselect, .formselect:focus, .formselect:active {
    outline: none!important;
    width: 100%;
    background: none;
    height: 100%;
    border-bottom: solid 1px #2f9142!important;
    border: none;
    padding: 2% 2% 2% 1%;
    color: #8bb836;
    margin-bottom: 1%;
}

.tblformselect, .tblformselect:focus, .tblformselect:active {
    outline: none!important;
    width: 100%;
    background: none;
    height: 100%;
    border: none;
    padding: 2% 2% 2% 1%;
    color: #8bb836;
    margin-bottom: 1%;
}

.formoption {
    background: #f4f9eb!important;
    outline: none!important;
}

.purchasecol05 {
    width: 5%;
}

.purchasecol1 {
    width: 10%;
}

.purhcasecol2 {
    width: 15%;
}

.purchasecol25 {
    width: 25%;
}

.purchasecol3 {
    width: 30%;
}

.purchasecol5 {
    width: 50%;
}

.tblTab {
    margin-left: 5%;
    margin-bottom: 1%;
    width: 40%;
}

.tblATab {
    margin-left: 5%;
    margin-bottom: 1%;
    width: 30%;
}

.tblPTab {
    margin-left: 5%;
    margin-bottom: 1%;
    width: 40%;
}

.tblITab {
    margin-left: 5%;
    margin-bottom: 1%;
    width: 20%;    
}

.tblRTab {
    margin-left: 5%;
    margin-bottom: 1%;
    width: 15%;    
}

.tblSTab {
    margin-left: 5%;
    margin-bottom: 1%;
    width: 50%;    
}

.tblCTab {
    margin-left: 5%;
    margin-bottom: 1%;
    width: 20%;    
}

.wborder {
    border-right: solid 1px #2f9142;
}

#prequest, #ipending, #sitem, #pcredit, #rpurchase, #wpending, #aadmin, #ppurchase, #orate {
    display: block;
}

#ppayment, #pproceed, #preceive, #pdecline, #ireceive, #srequest, #sinsuff, #sproceed, #sreceive, #sdecline, #chgPass, #passno, #chgPasss, #passnos, #chistory, #pcard, #ptrans, #rhistory, #wslot, #wwarehouse, #acustomer, #astaff, #pship, #phistory, #pcredit, #poutstand, #pinsuff, #omessage, #iwarehouse, #prhistory, #prefund {
    display: none;
}

#btnprequest, #btnipending, #btnsitem, #btncrequest, #btnrpurchase, #btnwpending, #btnaadmin, #btnppurchase, #btnorate {
    font-weight: bold;
}

.adcontainer {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 200px;
    height: 140px;
}

.pricetable {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 3%;
}

.itemstable {
    width: 100%;
    margin-bottom: 3%;
    color: #8bb836;
}

.shiptable {
    width: 100%;
    margin-bottom: 3%;
    border-bottom: solid 1px #8bb836;
}

.ptoprow {
    border-top: solid 1px #8bb836;
    border-bottom: solid 1px #8bb836;
}

.coltotal {
    border-top: solid 1px #8bb836;
    border-bottom: double 4px #8bb836;
}

.paytrans {
    margin: 10%;
}

.bigadstats {
    margin: 5% auto 0 auto;
    width: 80%;
}

.bigadstats p, .bigadstats h6, .smadstats p, .smadstats h6 {
    color: #b1b2b4;
}

.bigadstats h6 {
    font-size: 900%;
}

.smadstats {
    width: 90%;
    margin: 1% auto 0 auto;
}

.smadstats h6 {
    font-size: 400%;
}

.adrow1 {
    width: 80%;
    margin: 1% auto 0 auto;
}

.adnoti > a > div {
    margin: 1%;
    padding: 5%;
    border: solid 2px #2f9142;
}

.adnoti > a > div:hover {
    background: #2f9142;
}

.notititle {
    color: #2f9142;
    font-weight: bold;
    font-size: 110%;
}

.notino {
    color: #2f9142;
    font-size: 200%;
}

.adnoti > a > div:hover .notititle, .adnoti > a > div:hover .notino {
    color: #fff;
}

.requestp, #wslot caption {
    color: #2f9142!important;
}

.rateoutcontainer {
    margin: 0 2%;
}

.ratecontainer {
    margin: 5% auto 0 auto;
    background: #f4f9eb;
    border: solid 2px #2f9142;
    padding: 1%;
    color: #2f9142;
}

.adreview {
    width: 80%;
    margin: 1% auto;
    background: #f4f9eb;
    border: solid 2px #2f9142;
    padding: 1%;
    color: #2f9142;
}

.adreview h5 {
    font-weight: bold;
}

.adreview p {
    font-size: 110%;
}

.adupdaterow {
    width: 80%;
    margin: 5% auto 0 auto;
}

.adupdatebtn, .adupdatebtn:visited, .adupdatebtn:focus, .adupdatebtn:active {
    width: 100%;
    padding: 0 2%;
    height: 15vh;
    color: #2f9142;
    background: #f4f9eb;
    border: solid 1px #2f9142;
    white-space: normal;
    outline: none!important;
}

.adupdatebtn:hover {
    background: #2f9142;
    color: #fff;
}

.updaterow1 {
    padding: 1% 1%;
}

.aback {
    color: #2f9142;
    font-weight: normal;
}

.margintop {
    padding: 1%;
}

.btnpayview {
    width: 90%;
    margin: auto;
}

.btnmargin {
    margin-left: 1%;
    margin-top: 1%;
}

.tbltag td {
    padding-right: 80px;
}

.notify {
    color: #fff;
    background: #f26522;
    padding: 3%;
    margin-left: 5%;
    border-radius: 30%;
}

.admainrow1 {
    margin-top: 5%;
}

.trackfield, .trackfield:focus {
    margin-top: 5%;
    width: 80%;
    background: none!important;
    border: solid 2px #2f9142;
    color: #8bb836;
    outline: none!important;
    padding: 1%;
}

.trackfield::placeholder {
    color: #8bb836;
}

.bigtrackh2 {
    color: #2f9142;
    font-weight: bold;
}

.track {
    color: #2f9142;
}

.tracktable {
    width: 100%!important;
}

.rateline {
    margin: 5% 0;
}

.banktable {
    margin: auto;
}

.dashrow4 {
    margin: 7% 2% 1% 2%;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #8bb836;
}

.dashrow4 .glyphicon {
    color: #8bb836;
    font-size: 150%;
}

.dashrow4 .glyphicon:hover {
    color: #2f9142;
}

.dashrow4 .btnfoot {
    border: solid 1px #8bb836;
    padding: 0.5%;
    border-radius: 30%;
    margin-right: 1%;
}

.dashrow4 .btnfoot:hover {
    border: solid 1px #2f9142;
}

.contact {
    margin: 0 2%;
    color: #fff;
}

.contact h1 {
    margin: 2% 0;
    color: #fff!important;
    font-weight: normal;
}

.contact .cap {
    color: rgba(255, 255, 255, 0.5);
}

.contact .glyphicon {
    color: #fff!important;
}

.contacttbl {
    color: #fff;
    margin: 0 auto;
    width: 100%;
}

.contacttbl .bodyrow:hover {
    background: rgba(180, 215, 117, 0.5);
}

.contacttbl th {
    color:  rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.contacttbl td, .contacttbl th {
    padding: 1% 0.6%;
    vertical-align: top;
}

.contacttbl a, .contacttbl a:focus, .contacttbl a:active, .contacttbl a:visited {
    color: #fff;
}

.contacttbl a:hover {
    color: #8bb836;
}

.formfield::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.subtitle {
    color: rgba(255, 255, 255);
}

.btnservice, .btnservice:focus, .btnservice:active, .btnservice:visited {
    width: 100%;
    font-weight: bold;
    background: none;
    color: rgba(255, 255, 255, 0.7);
    outline: none!important;
    box-shadow: none!important;
}

.btnservice:hover {
    color: #fff;
    outline: none!important;
}

.btnservice .glyphicon {
    font-size: 90%;
}

.servicetbl td {
    vertical-align: top;
    padding: 1%;
}

.imgcol {
    width: 20%;
}

.coltitle {
    font-weight: bold;
    font-size: 120%;
}

.serviceinfo {
    padding-left: 4%;
}