body {
    font-family: sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

.radialbg{
    background: radial-gradient(#dfeec4, #2f9142);
    background-repeat: no-repeat;
    background-size: cover;
}

.linearbg{
    background: linear-gradient(180deg, #2f9142, #dfeec4);
    background-repeat: no-repeat;
    background-size: cover;
}

.userbg {
    background-color: #f4f9eb;
    background-image: url(../../resources/img/cityline.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 75%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.homerow1 {
    margin: 0 auto;
    width: 98%;
}

.homerow1 p {
    margin-top: 10px;
    padding: 1%;
}

.homerow2 {
    margin: 5% auto;
    width: 50%;
}

.homerow3 a {
    margin: 0 1%;
    padding: 0.8% 2%;
    color: #fff;
}

.homerow4 {
    margin: 7% 2% 0 2%;
    color: #fff;
}

.btnreg {
    background: #f7941d;
    border: none;
}

.btnreg:hover {
    background: #f26522;
    color: #fff;
}

.btnlearn {
    background: none;
    border: solid 1px #fff;
}

.btnlearn:hover {
    background: #fff;
    color: #f26522;
}

.btnfoot {
    border: solid 1px #fff;
    padding: 0.5%;
    border-radius: 30%;
    margin-right: 1%;
}

.btnfoot:hover {
    border: solid 1px #8bb836;
}

.btnAdd, .btnAdd:visited {
    width: 100%;
    background: #329a47!important;
    color: #fff!important;
    font-weight: bold!important;
    outline: none!important;
}

.btnAdd:hover, .btnAdd:active, btnAdd:focus {
    background: #95c639!important;
    outline: none!important;
}

.btnDelete {
    background: none;
    border: none;
}

.btnDelete:focus, .btnDelete:active {
    background: none;
    border: none;
    outline: none!important;
}

.btnCancel, .btnCancel:focus, .btnCancel:active, .btnSend:focus, .btnSend:active, .btnSend:visited {
    outline: none!important;
    border: none!important;
}

.btnCancel {
    color: #2f9142;
    background: #fff;
}

.btnCancel:hover {
    color: #fff;
    background: #f26522;
}

.btnSend {
    outline: none!important;
    background: #8bb836;
    border: none!important;
}

.btnSend:hover {
    outline: none!important;
    background: #2f9142;
    border: none!important;
}

.glyphicon {
    color: #fff;
    font-size: 150%;
}

.glyphicon:hover {
    color: #8bb836;
}

.glyphicon-user {
    margin-right: 1%;
    border-right: solid 1px #fff;
    padding-right: 1.5%;
}

.glyphicon-trash {
    color: #2f9142;
}

.glyphicon-trash:hover {
    color: #f26522!important;
}

.glyphicon-pencil, .glyphicon-edit {
    color: #2f9142!important;
}

.glyphicon-pencil:hover, .glyphicon-edit:hover {
    color: #8bb836!important;
}

.loginrow1 {
    color: #fff;
    font-weight: bolder;
    padding: 1% 1%;
}

.loginrow2 {
    margin: 5% auto;    
}

.regrow2 {
    margin: 2% auto;    
}

.aback {
    color: #fff;
    font-weight: normal;
}

.aback:hover {
    color: #8bb836;
    text-decoration: none;
}

.btnreglogin {
    background: none;
    border: solid 1px #fff;
    color: #fff;
    margin-left: 1%;
    margin-right: 1%;
}

.btnreglogin:hover {
    background: #fff;
    color: #2f9142;
}

.logincontainer {
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
    width: 25%;
}

.logincontainers {
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
    width: 80%;
}

.logincontainer a {
    color: rgba(255, 255, 255, 0.6);
}

.logincontainer a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.formfield {
    width: 100%;
    border: none;
    border-bottom: solid 0.5px #fff;
    background: none;
    color: #fff;
    padding: 2%;
    margin-bottom: 1%;
}

.formfield:focus {
    outline: none;
}

.btnlogin {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 2%;
    color: rgba(47, 145, 66, 0.7);
    font-weight: bold;
}

.btnlogin:hover {
    color: #2f9142;
}

.btntab, .btntab:visited, .btntab:active, .btntab:focus {
    color: #2f9142!important;
    margin: 0 2%;
    text-decoration: none;
    outline: none!important;
}

.btntab:hover {
    color: #8bb836!important;
    text-decoration: none;
}

.homerow {
    margin: 3% auto 0 auto;
}

.bigh1 {
    font-weight: bolder;
    color: #2f9142;
    font-size: 350%;
}

.smh1 {
    font-weight: bolder;
    color: #fff;
    text-shadow: 3px 3px 2px #2f9142;
    font-size: 200%;
}

.smh2 {
    font-size: 150%!important;
}

.userbar > div {
    width: 10%;
    margin-left: 1%;
}

.useritem {
    width: 10%;
}

.userbar .menuitem {
    margin: 0 auto;
    width: 77%;
}

.userbar li {
    float: none;
    display:inline-block;
    vertical-align: middle;
    margin: 0 2%; 
}

.userbar > ul > li > a {
    color: #8bb836!important;
    font-weight: bold;
}

.userbar > ul > li > a:hover {
    color: #2f9142!important;
}

.userbar {
    background: none!important;
    border-bottom: solid 2px #2f9142;
    margin-bottom: 0.5%;
}

.userbar .navbar-right {
    margin-right: 2%;
}

.userbar .glyphicon {
    color: #8bb836!important;
    font-size: 110%;
}

.userbar .glyphicon:hover {
    color: #2f9142!important;
}

.userbar .glyphicon-user {
    margin-right: 0!important;
    border-right: none!important;
    padding-right: 0!important;
}

.userrow4 {
    bottom: 0;
    position: fixed;
    margin: 0 1%;
    color: #2f9142;
    width: 100%;
}

.userrow4 .btnfoot {
    border: solid 1px #8bb836;
    padding: 0.5%;
    border-radius: 30%;
    margin-right: 1%;
    color: #8bb836;
}

.userrow4 .btnfoot:hover {
    border: solid 1px #2f9142;
    color: #2f9142;
}

.pagetitle {
    color: #2f9142!important;
}

.purchasetable {
    border-top: solid 1px #2f9142;
    border-bottom:  solid 1px #2f9142;
    width: 90%;
    margin: 0 auto;
}

.purchasetable th {
    text-align: center;
    color: #2f9142;
}

.purchasetable tr {
    border-top: solid 1px #2f9142;
    border-bottom:  solid 1px #2f9142;
}

.purchasetable td {
    text-align: center;
    color: #2f9142;
    height: 40px;
}

.purchasetable .bodyrow:hover {
        background: rgba(139, 184, 54, 0.2);
}

.modal-content {
    background: #f4f9eb;
}

.modal-content h5 {
    font-weight: bold;
    color:#2f9142;
}

.modal-body {
    width: 90%;
    margin: 2% auto 0 auto;
}

.modal-body label {
    color: #2f9142;
    margin-bottom: 0!important;
}

.modal-body .formfield {
    border-bottom: solid 1px #2f9142!important;
    color: #8bb836!important;
}

.modal-body .formfield::placeholder {
    color: #8bb836!important;
}

.formselect, .formselect:focus, .formselect:active {
    outline: none!important;
    width: 100%;
    background: none;
    height: 100%;
    border-bottom: solid 1px #2f9142!important;
    border: none;
    padding: 2% 2% 2% 1%;
    color: #8bb836;
    margin-bottom: 1%;
}

.formoption {
    background: #f4f9eb!important;
    outline: none!important;
}

.purchasecol05 {
    width: 5%;
}

.purchasecol1 {
    width: 10%;
}

.purhcasecol2 {
    width: 15%;
}

.purchasecol3 {
    width: 30%;
}

.tblTab {
    margin-left: 5%;
    margin-bottom: 1%;
    width: 40%;
}

.tblITab {
    margin-left: 5%;
    margin-bottom: 1%;
    width: 15%;    
}

.wborder {
    border-right: solid 1px #2f9142;
}

#prequest, #ipending {
    display: block;
}

#ppayment, #pproceed, #preceive, #pdecline, #ireceive {
    display: none;
}