body {
    font-family: sans-serif;
    overflow-x: hidden;
    background: radial-gradient(#eaf4d7, #77787b);
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.homerow1 {
    margin: 0 auto;
    width: 98%;
}

.homerow1 p {
    margin-top: 10px;
    padding: 1%;
}

.homerow2 {
    margin: 5% auto;
    width: 50%;
}

/*
.homerow2 h1 {
    color: #fff;
    font-weight: bold;
    font-size: 10vh;
}
*/

.homerow3 button {
    margin: 0 1%;
    padding: 0.8% 2%;
    color: #fff;
}

.homerow4 {
    margin: 5% 2% 0 2%;
}

.btnreg {
    background: #f7941d;
    border: none;
}

.btnreg:hover {
    background: #f26522;
    color: #fff;
}

.btnlearn {
    background: none;
    border: solid 1px #fff;
}

.btnlearn:hover {
    background: #fff;
    color: #f26522;
}

.btnfoot {
    border: solid 1px #fff;
    padding: 0.5%;
    border-radius: 30%;
    margin-right: 1%;
}

.btnfoot:hover {
    border: solid 1px #8bb836;
}

.glyphicon {
    color: #fff;
    font-size: 150%;
}

.glyphicon:hover {
    color: #8bb836;
}

.glyphicon-user {
    margin-right: 1%;
    border-right: solid 1px #fff;
    padding-right: 1.5%;
}

/*
.navbar .navbar-toggle .icon-bar {
    background-color: #fff!important;
}

.navbar {
    background: none;
    border: none;
    margin: 0 1%;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
    border-color: #fff!important;
    color: #fff;
}

.navbar-toggle:hover {
    background-color: #2f9142!important;
}

.navbar-toggle:active {
    background-color: none!important;
}

.navbar-toggle:visited {
    background-color: none!important;
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-nav {
    float: none!important;
}

.navbar-nav>li {
    float: none;
}

.navbar-collapse.collapse.in{
    display:block !important;
}*/
