body {
    font-family: sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

.radialbg{
    background: radial-gradient(#dfeec4, #2f9142);
    background-repeat: no-repeat;
    background-size: cover;
}

.linearbg{
    background: linear-gradient(180deg, #2f9142, #dfeec4);
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.homerow1 {
    margin: 0 auto;
    width: 98%;
}

.homerow1 p {
    margin-top: 10px;
    padding: 1%;
}

.homerow2 {
    margin: 5% auto;
    width: 50%;
}

.homerow3 a {
    margin: 0 1%;
    padding: 0.8% 2%;
    color: #fff;
}

.homerow4 {
    margin: 7% 2% 0 2%;
    color: #fff;
}

.btnreg {
    background: #f7941d;
    border: none;
}

.btnreg:hover {
    background: #f26522;
    color: #fff;
}

.btnlearn {
    background: none;
    border: solid 1px #fff;
}

.btnlearn:hover {
    background: #fff;
    color: #f26522;
}

.btnfoot {
    border: solid 1px #fff;
    padding: 0.5%;
    border-radius: 30%;
    margin-right: 1%;
}

.btnfoot:hover {
    border: solid 1px #8bb836;
}

.glyphicon {
    color: #fff;
    font-size: 150%;
}

.glyphicon:hover {
    color: #8bb836;
}

.glyphicon-user {
    margin-right: 1%;
    border-right: solid 1px #fff;
    padding-right: 1.5%;
}

.loginrow1 {
    color: #fff;
    font-weight: bolder;
    padding: 1% 1%;
}

.loginrow2 {
    margin: 5% auto;    
}

.aback {
    color: #fff;
    font-weight: normal;
}

.aback:hover {
    color: #8bb836;
    text-decoration: none;
}

.btnreglogin {
    background: none;
    border: solid 1px #fff;
    color: #fff;
    margin-left: 1%;
    margin-right: 1%;
}

.btnreglogin:hover {
    background: #fff;
    color: #2f9142;
}

.logincontainer {
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
    width: 25%;
}

.logincontainers {
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
    width: 80%;
}

.logincontainer a {
    color: rgba(255, 255, 255, 0.6);
}

.logincontainer a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.formfield {
    width: 100%;
    border: none;
    border-bottom: solid 0.5px #fff;
    background: none;
    color: #fff;
    padding: 2%;
    margin-bottom: 1%;
}

.formfield:focus {
    outline: none;
}

.btnlogin {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 2%;
    color: rgba(47, 145, 66, 0.7);
    font-weight: bold;
}

.btnlogin:hover {
    color: #2f9142;
}

/*
.navbar .navbar-toggle .icon-bar {
    background-color: #fff!important;
}

.navbar {
    background: none;
    border: none;
    margin: 0 1%;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
    border-color: #fff!important;
    color: #fff;
}

.navbar-toggle:hover {
    background-color: #2f9142!important;
}

.navbar-toggle:active {
    background-color: none!important;
}

.navbar-toggle:visited {
    background-color: none!important;
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-nav {
    float: none!important;
}

.navbar-nav>li {
    float: none;
}

.navbar-collapse.collapse.in{
    display:block !important;
}*/
